config PIC32MK_SOC
    bool
    select UNIMP
    select SSI
    select PTIMER

config PIC32_DEVBOARD
    bool
    default y
    depends on MIPS
    select PIC32MK_SOC
    select SPLIT_IRQ
    select MCP23S08
    select SSI_SD
    select PARALLEL_SRAM
    select LED_DEMUX
    select WS2812
    select WS2812_PANEL
    select FM_TRANSMITTER
    select FM_LINK
    select SD
