config PIC16_SOC
    bool
    select UNIMP
    select SSI
    select PTIMER

config PIC16F17546
    bool
    default y
    depends on PIC16
    select PIC16_SOC

config PIC16_DEVBOARD
    bool
    default y
    depends on PIC16
    select PIC16_SOC
    select SPLIT_IRQ
    select MCP23S08
    select WS2812

config PIC16_TEST
    bool
    default y
    depends on PIC16
